---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const notes = await getCollection("notes");

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: { note },
    }));
}

import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
import notesImage from "@images/learning-lab-notes.jpg";

const { note } = Astro.props;
const { Content } = await note.render();

import "@/styles/layouts/_note.scss";
---

<MainLayout page={{ title: note.data.title, description: "" }}>
    <Image src={notesImage} alt="" class="note-background" />
    <article class="note">
        <h1>{note.data.title}</h1>
        <div class="note-content-container">
            <Content />
        </div>
    </article>
</MainLayout>
