---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import MainLayout from "@/layouts/MainLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import notesImage from "@images/learning-lab-notes.jpg";

import "@/styles/layouts/_note.scss";

import type { RenderResultWithToc } from "@/types/content";

export async function getStaticPaths() {
    const notes = await getCollection("notes");

    return notes.map((note) => ({
        params: { slug: note.slug },
        props: { note },
    }));
}

const { note } = Astro.props;
const { Content, headings, toc } = (await note.render()) as RenderResultWithToc;
const tocData = headings ?? toc ?? [];
---

<MainLayout page={{ title: note.data.title, description: "" }}>
    <!-- <Image src={notesImage} alt="" class="note-background" /> -->

    <Sidebar toc={tocData} />

    <article class="note">
        <h1>{note.data.title}</h1>
        <div class="note-content-container">
            <Content />
        </div>
    </article>
</MainLayout>
