$background-color: #222;
$body-color: #ddd;
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$clr-primary: #1b502b;
$clr-zebra: #444;

$link-color: #CCCDBF;

$fs-sm: .8em;
$fs-md: 1em;

$sidebar-header-width: 15em;
$data-opener-width: 1.5em;