---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import "./header.scss";

import beakerManImage from "@images/beaker-man.png";

const { site } = Astro.props;
const allNotes = await getCollection("notes");
const sortedNotes = allNotes.sort((a, b) => {
    return a.data.title.localeCompare(b.data.title);
});
---

<div class="header-container">
    <header class="site-header">
        <a href={"/"}>
            <Image src={beakerManImage} alt="Open book with blank pages" />
            {site.title}
        </a>
    </header>

    <div class="note-list__container">
        <ul class="note-list">
            {
                sortedNotes.map((note) => (
                    <li>
                        <a href={`/notes/${note.slug}/`}>{note.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
