@use '../styles/variables' as *;
@use '../styles/mixins';

.header-container {
  display: flex;
  flex-direction: column;
  width: $sidebar-header-width;
  overflow: hidden;
}

.site-header {
  position: relative;

  a {
    position: absolute;
    inset: 1em;
    display: block;
    color: $background-color;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    z-index: 100;
  }

  img {
    position: relative;
    display: block;
    width: 100%;
  }
}

.note-list__container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.note-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    @include mixins.padding-box;
    color: $link-color;

    &:hover,
    :focus {
      color: $background-color;
      background: $link-color;
      font-weight: bold;
    }
  }
}