---
import type { TocItem } from "@/plugins/remark-collect-headings";

const { toc } = Astro.props;
---

<div class="sidebar-wrapper">
    <aside class="sidebar">
        <ul>
            {
                toc.map((heading: TocItem) => {
                    return (
                        <li>
                            <a href={`#${heading.slug}`}>{heading.text}</a>
                        </li>
                    );
                })
            }
        </ul>
    </aside>
</div>

<style lang="scss">
    @use "@/styles/primitives" as *;
    @use "@/styles/semantic" as *;
    @use "@/styles/abstracts/mixins" as *;

    .sidebar-wrapper {
        @media screen and (min-width: 768px) {
            grid-column: 2 / -1;
        }

        .sidebar {
            margin-block: $space-md;
            @media screen and (min-width: 768px) {
                max-height: 92vh;
                overflow: hidden;
                overflow-y: auto;
                position: fixed;
                top: 0;
                bottom: 0;
                width: 250px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                background: #333;
                font-size: $fs-sm;
                border-radius: $border-radius;

                a {
                    display: block;
                    @include padding-box;

                    &:hover {
                        background: $color-yellow;
                        color: $color-grey;
                    }

                    // ul {
                    //     margin-top: 0.5em;
                    //     list-style: none;
                    //     padding-left: 0.5em;
                    //     li {
                    //         background: #222;
                    //     }
                    // }
                }
            }
        }
    }
</style>
