@use "@/styles/semantic" as *;
@use "@/styles/abstracts/mixins" as *;


:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);

    font-size: calc(15px + .390625vw);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100vh;
    // height: 100svh;
    color: $body-color;
    font-family: $body-font;
    background: $body-background-color;
    overflow: hidden;
}

figure {
    margin: 0;
}

a {
    color: $link-color;
}

main {
    overflow-x: hidden;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    border: 1px solid $clr-zebra;

    thead {
        th {

            background-color: $clr-primary;
            @include padding-box;
        }
    }

    tbody {
        td {
            @include padding-box;
        }

        tr:nth-child(even) {
            background-color: $clr-zebra;
        }
    }
}