:root {
  font-size: calc(15px + .390625vw);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  color: $body-color;
  font-family: $body-font;
  background: $background-color;
  overflow: hidden;
}

.site-container {
  display: flex;
  width: calc(100% + #{$sidebar-header-width} + #{$data-opener-width});
  height: 100%;
  transition: transform .3s ease-in-out;
  transform: translateX(-$sidebar-header-width);
  overflow: hidden;

  &.opened {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: $sidebar-header-width 1fr;
    transform: translateX(0);
    width: 100%;
  }

  [data-opener] {
    color: $body-color;
    width: $data-opener-width;
    height: 100%;
    margin: 0;
    background: #555;
    border: none;

    &:hover {
      cursor: pointer;
    }

    i {
      pointer-events: none;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.content {
  width: calc(100% - #{$sidebar-header-width} - #{$data-opener-width} - 1em);
  height: 100%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

figure {
  margin: 0;
}

a {
  color: $link-color;
}