---
interface Props {
	site: {
		title: string;
	}
}

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/style.scss';
// import noteCollection;

const { site } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
		<link rel="manifest" href="img/favicons/site.webmanifest">
		<link rel="shortcut icon" href="img/favicons/favicon.ico">
		<meta name="apple-mobile-web-app-title" content={ site.title }>
		<meta name="application-name" content={ site.title }>
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{site.title}</title>
	</head>
	<body>
		<div class="site-container" data-site-container>

		<Header site={site}	/>
		
		<button data-opener draggable="true">
			<i class="fa fa-chevron-right"></i>
		  </button>
	
		  <script>
			const siteContainer = document.querySelector('[data-site-container]')
			const button = document.querySelector('[data-opener]');
	
			function toggleFunction(e) {
			  if (e.target === button) {
				siteContainer!.classList.toggle('opened');
			  } else {
				siteContainer!.classList.remove('opened');
			  }
	
			  if (siteContainer!.classList.contains('opened')) {
				button!.innerHTML = `<i class="fa fa-chevron-left"></i>`
			  } else {
				button!.innerHTML = `<i class="fa fa-chevron-right"></i>`
			  }
			}
			document.addEventListener('click', toggleFunction);
	
		  </script>
		<slot />
		<Footer site={site}/>
	</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
