---
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
    page: {
        title: string;
        description?: string;
    };
}

const { page } = Astro.props;

const site = {
    title: "Learning Lab Notes",
};
---

<BaseLayout page={{ title: page.title, description: page.description }}>
    <div class="site-container" data-site-container>
        <Header site={site} />

        <button data-opener draggable="true">
            <i class="fa fa-chevron-right"></i>
        </button>

        <script>
            const siteContainer = document.querySelector(
                "[data-site-container]",
            );
            const button = document.querySelector("[data-opener]");

            function toggleFunction(e: MouseEvent) {
                if (e.target === button) {
                    siteContainer!.classList.toggle("opened");
                } else {
                    siteContainer!.classList.remove("opened");
                }

                if (siteContainer!.classList.contains("opened")) {
                    button!.innerHTML = `<i class="fa fa-chevron-left"></i>`;
                } else {
                    button!.innerHTML = `<i class="fa fa-chevron-right"></i>`;
                }
            }
            document.addEventListener("click", toggleFunction);
        </script>
        <main class="note-container">
            <slot />
        </main>
        <Footer site={site} />
    </div>
</BaseLayout>
