---
import BaseLayout from "./BaseLayout.astro";
import SidebarToggle from "@/components/SidebarToggle.astro";

interface Props {
    page: {
        title: string;
        description?: string;
    };
}

const { page } = Astro.props;

const site = {
    title: "Learning Lab Notes",
};
---

<BaseLayout page={{ title: page.title, description: page.description }}>
    <div class="site-container" data-site-container>
        <SidebarToggle site={site} />

        <main class="main">
            <slot />
        </main>
    </div>
</BaseLayout>

<style lang="scss">
    @use "@/styles/semantic" as *;
    @use "@/styles/abstracts/mixins" as *;
    @use "@/styles/abstracts/variables" as *;

    .site-container {
        display: grid;
        grid-template-columns: $sidebar-header-width 1fr;
        grid-template-rows: 1fr auto;
        width: calc(100% + #{$sidebar-header-width} - #{$data-opener-width});
        height: 100vh;
        overflow-x: hidden;
        transition: transform 0.3s ease-in-out;
        transform: translateX(-$sidebar-header-width + $data-opener-width);

        &.opened {
            transform: translateX(0);
        }

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: $sidebar-header-width 1fr;
            grid-template-rows: 1fr auto;
            width: 100%;
            transform: translateX(0);
        }
    }
</style>
